<section class="mt-5 mb-5"></section>
    <div class="container" style="max-width: 1000px;">
      
        <form class="p-5 rounded shadow text-center " method="post">
            {% csrf_token %}
            
            <!-- Form heading -->
            <h2 class="fs-3 fw-bold text-primary pb-3">Want More? Try Premium Features!</h2>
          
            <!-- Paragraph -->
            <p class="fs-5 fw-normal pb-3">Custom short links, powerful dashboard, detailed analytics, API, UTM builder, QR codes, browser extension, app integrations, and support</p>
            
            <!-- Centered button -->
            <input type="submit" class="btn btn-primary fs-4" value="Create account">
          
          </form>
          <div class="mt-5 p-2">
            <p class="fs-5 fw-normal"><strong>Simple and fast URL shortener!</strong> ShortURL allows you to shorten long links from Instagram, Facebook, YouTube, Twitter, LinkedIn, WhatsApp, TikTok, blogs, and sites. Just paste the long URL and click the Shorten URL button. On the next page, copy the shortened URL and share it on sites, chat, and emails. After shortening the URL, check how many clicks it received.</p>
          
            <p class="fs-5 fw-normal"><b>Shorten, share, and track.</b> Your shortened URLs can be used in publications, documents, advertisements, blogs, forums, instant messages, and other locations. Track statistics for your business and projects by monitoring the number of hits from your URL with our click counter.</p>
          </div>
    </div>
  </section>